.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.floatRight {
  float: right;
}

.dropdown {
  display: flex;
  align-items: center;
  color: white; 
}

.dropdown span {
  margin-left: 10px;
}

.marginRight {
  margin-right: 10px;
}